extends layouts/main

block content
    .video_player 
        video(src=`/${video.fileUrl}`)
        // 서버에 있는 파일이라서 앞에 / 를 붙여야 함
    .video_info 
        a(href=routes.editVideo) Edit video
        h5.video_title=video.title
        span.video_views=video.views
        p.video_description=video.description